html, body, h1 {
    padding: 0;
    margin: 0;
}
.themeParam {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;  
}
.light {
    background-color: #ffffff;
    color: #000000;
}

.dark {
    background-color: #000000;
    color: #ffffff;
}
#lottie-container {
    width: 300px;
    height: 300px;
}


@media (max-width: 480px) {
    h1 {
        font-size: 30px;
    }
}
